
<center>
  <h3>Comentarios</h3>
</center>
<% @comentarios.each do |comment| %>

    <div class="comentario"  >
      <p class="elemento"><strong>Nombre :</strong> <%= comment.name %> </p>
      <p class="elemento"><strong>Email :</strong> <%= comment.email %> </p>
      <p class="elemento"><strong>Mensaje :</strong> <%= comment.content %></p>
    </div>
<%end%>