
<table class="profile" summary="Profiel information" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
  <tr>
    <td>
      <h1>
        <%= gravatar_image_tag("jvidalba@gmail.com",:gravatar => { :size => 150 })%>
      </h1>
    </td>
    <td class ="sidebar round" >
      <strong>
        <h3>
          Mateo Vidal
        </h3>
      </strong>
      <br>
      <h4><u>Educaci&oacute;n</u></h4>
      <h5>Universidad EAFIT - Ingenier&iacute;a de Sistemas</h5>
      <h5>Instituci&oacute;n Educativa San Crist&oacute;bal(2007)</h5>
      <h5>Infosys Limited - An Industry Perspective JAVA EE</h5><br>
      <h4><u>Experiencia laboral</u></h4>
      <div style="float: left; border-right: 1px solid #eaeaea; padding-right: 30px;">
        <h5>Universidad EAFIT</h5>
        <h5>Consultor de proyectos</h5>
        <h5>Proyecto: <%= link_to "SIMCIE", "http://secretaria.respinos.com/" , :target => "_blank"%></h5>
      </div>

      <div style="float: right">
        <h5>Visionamos - Red de cooperativas</h5>
        <h5>Desarrollador RoR</h5>
        <h5>Actual</h5>
      </div>
    </td>
  </tr>
</table>