// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



th{
  text-align: left;
}

#user{
  border: solid rgb(194, 193, 193) 1px;
  border-radius: 10px;
}

.user_info{
  margin: 50px;
  margin-right: 1px;
}

.user_repos{
  margin-top: 20%;
}

.image{
  float: left;

}

.user_details{
  float: left;
  margin-left: 30px;
}

.repo{
  position: center;
  border: solid black 1px;
  border-radius: 10px;
  font-size: 17px;
  width: 98%;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 3px;

}
